

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;

}

#root > div > div > div > div.flex.justify-center.flex-col.flex-wrap > div > div:nth-child(2) > div.mb-12.mt-6 > div > div:nth-child(1){
    right : 78px!important;
}
#root > div > div > div > div.flex.justify-center.flex-col.flex-wrap > div > div:nth-child(2) > div.mb-12.mt-6 > div > div:nth-child(2){
    right : 78px!important;
}

//fade in animation 
.fade-in {
  animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

//fade out after 5 seconds 
.fade-out {
  animation: fadeOut ease 0.7s;
 // animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}


.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media(max-width:1024px){
  .ChooseTagAndButtonResponsiveness{
  flex-direction: column!important;
  } 
  .ChooseTagResponsiv{
    margin-bottom: 50px;
  }
}


@media (max-width: 1014px){

  .HideOnMobile{
    display: none;
  }
}

@media (min-width: 1024px){
  .HideOnDesktop{
    display: none;
  }
}

.ProgressiveOpacity {
  //  mask-image: -webkit-gradient(linear, left top, left bottom, 
  //  from(rgb(0, 0, 0)), to(rgba(0,0,0,0)));
}

@media screen, projection{ 
  html { 
    background:    #fff;
    margin:   0; 
    padding:   0; 
    border:   0; 
    font-size:   100%; 
    vertical-align:   baseline;
    font-family:  -apple-system,BlinkMacSystemFont,SFUI,HelveticaNeue,Helvetica,Arial,sans-serif; 
    color:  #333; 
    -webkit-font-smoothing:  antialiased; 
    -moz-osx-font-smoothing:  grayscale; 
    -webkit-text-size-adjust:  100%;
    width: 100%; 
    height: 100%;
  } 

  .postVotes { 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    width: 38px; 
    cursor: pointer; 
    padding: 8px 0 3px; 
    background: hsla(0,0%,100%,.8); 
    border: 1px solid #e6e6e6; 
    border-radius: 5px; 
    transition: all .1s ease-in-out;
  } 

  .postVotes:hover { 
    border: 1px solid rgba(35,35,35,.2);
  } 

  .postVotes  { 
    align-self: flex-start; 
    margin: 0 16px 0 0; 
    border-radius: 5px; 
    transition: all .1s ease-in-out;
  } 

  .upvote  { 
    width: 0; 
    height: 0; 
    border-left: 9px solid transparent; 
    border-right: 9px solid transparent; 
    border-bottom: 9px solid rgba(35,35,35,.2); 
    margin-bottom: 3px; 
    transition: all .1s ease-in-out;
  } 

  .postVotes:hover .upvote:not(.voted)  { 
    border-bottom: 9px solid rgba(35,35,35,.4);
  } 

  span { 
    margin:   0; 
    padding:   0; 
    border:   0; 
    font-size:  12px;
    vertical-align:   baseline;
    letter-spacing:  .01em; 
    word-spacing:  .02em;
  } 

  span  { 
    min-height: 13px; 
    text-align: center; 
    line-height: 22px; 
    font-size: 15px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
  } 
}     

.text-block { 
  padding-bottom: 3px; 
  color: #4b587c; 
  font-size: 15px;
} 
.WebflowCardDesign{
  .w-inline-block { 
    max-width: 100%; 
    display: inline-block;
} 

.white-box { 
    overflow: hidden; 
    min-height: 100px; 
    margin-bottom: 3em; 
    border: 1px solid #e8e8e8; 
    border-radius: 5px; 
    background-color: #fff; 
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
} 

.div-block { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 2%; 
    -webkit-box-pack: start; 
    -webkit-justify-content: flex-start; 
    -ms-flex-pack: start; 
    justify-content: flex-start; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-style: solid; 
    border-width: 1px; 
    border-color: #9c9c9c; 
    border-radius: 4px; 
    background-color: #fff; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
} 

a:hover { 
    outline: 0;
} 

.div-block.white-box { 
    margin-bottom: 0%; 
    padding-bottom: 1%; 
    border-style: none; 
    border-color: #eff3f4; 
    border-top-width: 2px; 
    border-right-width: 2px; 
    border-left-width: 2px; 
    box-shadow: none; 
    text-decoration: none;
} 

.div-block.white-box:hover { 
    background-color: transparent;
} 

a:active,a:hover { 
    outline: 0;
} 

.div-block-2 { 
    padding-left: 11px; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
    text-align: left;
} 

img { 
    border:  0;
    max-width: 100%; 
    vertical-align: middle; 
    display: inline-block;
} 

h5 { 
    font-weight:  bold; 
    margin-bottom:  10px;
    font-size: 14px; 
    line-height: 20px; 
    margin-top: 10px;
} 

.heading-2 { 
    margin-top: 0px; 
    margin-bottom: 0px; 
    color: #21293c; 
    font-size: 16px; 
    font-weight: 600;
} 

.text-block { 
    padding-bottom: 3px; 
    color: #4b587c; 
    font-size: 15px;
} 

.upvote-box { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 64px; 
    height: 74px; 
    margin-left: auto; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border: 1px solid #e8e8e8; 
    border-radius: 3px; 
    background-color: #fff;

    cursor: pointer;
} 

.upvote-box:hover { 
    border-color: #4b4a4b; 
    color: #000;
} 

.text-block-3 { 
    color: #4b587c;
} 

.text-block-2 { 
    color: #4b587c;
} 


}